head
    title Survial Clicker
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="bootstrap.min.css")
body
    .container-fluid
        .row: .col-lg-12
            label Version:
            label.text-success 0.3
            label(id="savegamename").text-warning dev
            a.pull-right(target="_blank", href="https://www.reddit.com/r/incremental_games/comments/38t4o1/survival_clicker_12hr_of_work/") Official Reddit Thread
        .row: .col-lg-12
            label Money:
            label(id="money")
            label $
            label (
            label(id="income")
            label $/s)
        .row: .col-lg-12
            label Taxes:
            label(id="taxes")
            label %
        .row: .col-lg-12
            label Score:
            label.text-danger Alive For:
            label.text-success(id="time")
            label.text-danger Digested:
            label.text-success(id="digested")
        .row: .col-lg-12
            label.text-primary Body Temperature:
            label.label-success(id="temp") Normal
            label.text-primary Clothing Temperature Gain:
            label(id="tempoffset")
        .row: .col-lg-12
            label Health:
            .progress: .progress-bar.progress-bar-danger(id="health")
        .row: .col-lg-12
            label Stamina:
            .progress: .progress-bar(id="stamina")
        .row: .col-lg-12
            label Stomach:
            .progress: .progress-bar.progress-bar-warning(id="stomach")
        .row: .col-lg-12
            label Energy:
            .progress: .progress-bar.progress-bar-success(id="energy")
        .row: .col-lg-12
            label Hydration:
            .progress: .progress-bar.progress-bar-info(id="hydration")
        .row: .col-lg-12
            .form-group
            label Thoughts:
            inout.form-control(id="log", readonly)
        p
        .row: .col-lg-12
            button.btn.btn-default(id="pause") Pause
        p
        .row: .col-lg-12
            ul.nav.nav-tabs
                li.active: a(href="#common", data-toggle="tab") Common Actions
                li: a(href="#work", data-toggle="tab") Work
                li: a(href="#training" , data-toggle="tab") Training
                li: a.consumable(money="-5", href="#clothing" , data-toggle="tab") Clothing
                li: a(href="#food" , data-toggle="tab") Food
                li: a(href="#drink" , data-toggle="tab") Drink
                li: a.consumable(money="-1", href="#investment" , data-toggle="tab") Investment
                li: a.consumable(money="-50", href="#chems" , data-toggle="tab") Chems(dangerous)
                li: a.consumable(money="-500", href="#black" , data-toggle="tab") Black Market Auto Injectors(deadly)
                li: a.consumable(money="-2000", href="#medical" , data-toggle="tab") Medical Services(safe)
                li: a.consumable(money="-60000", href="#bribe" , data-toggle="tab") Bribe Gov
                li: a.consumable(money="-75000", href="#et" , data-toggle="tab") ET Technology
                li: a.consumable(money="-1000000", href="#research" , data-toggle="tab") Research
        p
        .row: .col-lg-12
            .tab-content
                .tab-pane.active(id="common")
                    button.btn.btn-default(id="reset") Suicide
                    button.btn.btn-default.consumable.hide(money="50", hydration="-50", energy="-50", stomachcap="-50", healthcap="-10", title="Can be dangerous") Participate in human experiment
                .tab-pane(id="work")
                    button.btn.btn-default.consumable(money="5", hydration="-3", energy="-2", stamina="-5", staminacap="0.02", temp="0.05", title="Standard Work") Basic Work
                    button.btn.btn-default.consumable.buyable(buyname="bricks", money="10", hydration="-4", energy="-2.5", stamina="-6", staminacap="0.021", temp="0.06") Carry Bricks
                    button.btn.btn-default.consumable.buyable(buyname="equipm", money="15", hydration="-5", energy="-3.5", stamina="-7", staminacap="0.022", temp="0.07") Make Concrete
                    button.btn.btn-default.consumable.buyable(buyname="progrm", money="20", hydration="-1", energy="-2.5", stamina="-0.2", staminacap="-0.005", temp="0.001") Program Websites
                    button.btn.btn-default.consumable.buyable(buyname="sprayc", money="30", hydration="-5.5", energy="-4", stamina="-6", staminacap="-0.004", healthcap="-0.0001", temp="0.05") Spray Crops
                    button.btn.btn-default.consumable.buyable(buyname="relig", money="40", hydration="-2.5", energy="-2", stamina="-3", staminacap="0.0004", temp="0.08") Force Religion on People
                    button.btn.btn-default.consumable.buyable(buyname="pccomp", money="150", hydration="-1.5", energy="-2", stamina="-0.5", staminacap="-0.001", temp="-0.001") Research Computers
                    p
                    button.btn.btn-default.consumable(money="-500", unlock="bricks") Look for a better job
                    button.btn.btn-default.consumable(money="-2000", unlock="equipm") Invest into Concrete Mixer
                    button.btn.btn-default.consumable(money="-5000", unlock="progrm") Learn to Program
                    button.btn.btn-default.consumable(money="-10000", unlock="sprayc") Invest into Crop Spray Equipment
                    button.btn.btn-default.consumable(money="-2500000", unlock="relig") Create a new Religion
                    button.btn.btn-default.consumable(money="-25000000", unlock="pccomp") Create a big computer company
                .tab-pane(id="training")
                    button.btn.btn-default.consumable(money="-7", hydration="-1", energy="-10", stamina="-40", staminacap="0.1", staminaregen="0.00001", temp="-0.05", title="Improves your maximum stamina also cools you down") Swim in a pool
                    button.btn.btn-default.consumable(money="-4", hydration="-7", energy="-5", stamina="-15", staminacap="0.09", staminaregen="0.00001", temp="0.05", title="Improves your maximum stamina") Workout on strength
                    button.btn.btn-default.consumable(money="-4", hydration="-7.5", energy="-5", stamina="-15", staminacap="0.0001", staminaregen="0.001", temp="0.04", title="Improves your stamina regeneration") Workout on breathing
                    button.btn.btn-default.consumable(money="-50", stamina="-1", energy="-1", digestionmulti="0.001", stomachcapin="0.000001", stomachcap="0.001", temp="0.01", title="Improves digestion speed and capacity") Stomach Massage
                    button.btn.btn-default.consumable(money="-500", stamina="-5", energy="-10", digestionmulti="0.002", stomachcapin="0.000003", stomachcap="0.01", temp="0.01", title="Improves digestion speed and capacity") Stomach Massage Extended
                .tab-pane(id="clothing")
                    button.btn.btn-default.consumable(money="-5", tempoffset="0") Normal Clothes
                    button.btn.btn-default.consumable(money="-15", tempoffset="-0.01") Loose Clothes
                    button.btn.btn-default.consumable(money="-10", tempoffset="0.01") Warm Clothes
                    button.btn.btn-default.consumable(money="-50", tempoffset="0.02") Quality Warm Clothes
                    button.btn.btn-default.consumable(money="-75", tempoffset="-0.02") Quality Loose Clothes
                    button.btn.btn-default.consumable(money="-150", tempoffset="0.03") Premium Warm Clothes
                    button.btn.btn-default.consumable(money="-150", tempoffset="-0.03") Premium Loose Clothes
                    button.btn.btn-default.consumable(money="-1000", tempoffset="0.1") Gillie Suit
                    button.btn.btn-default.consumable(money="-1000000", tempoffset="0.2") Space Suit
                    button.btn.btn-default.consumable(money="-10000000", tempoffset="1") Silicone Seal
                .tab-pane(id="food")
                    button.btn.btn-default.consumable(money="0", energy="1", hydration="-0.1", stomach="11", health="-0.7") Discarded Food
                    button.btn.btn-default.consumable(money="-3", energy="4", hydration="0.05", stomach="7", health="-0.01") Cheap Food
                    button.btn.btn-default.consumable(money="-6", energy="5", hydration="0.06", stomach="5", health="-0.005") Decent Food
                    button.btn.btn-default.consumable(money="-10", energy="7", hydration="0.08", stomach="5", health="-0.002") Food
                    button.btn.btn-default.consumable(money="-20", energy="8.5", hydration="0.09", stomach="4.8", health="-0.001") Quality Food
                    button.btn.btn-default.consumable(money="-50", energy="9.5", hydration="0.15", stomach="4.5", health="-0.0001") Home Food
                    button.btn.btn-default.consumable(money="-150", energy="10.5", hydration="0.25", stomach="3.5", health="-0.00001") Pro Engineered Food
                    button.btn.btn-default.consumable(money="-1000", energy="11.5", hydration="0.35", stomach="3.25", health="-0.000001") Pro Engineered Food From Space
                    button.btn.btn-default.consumable(money="-10000", energy="12.5", hydration="0.45", stomach="3", health="-0.0000001") Pro Engineered Food From ETs
                    button.btn.btn-default.consumable(money="-100000", energy="13.5", hydration="0.48", stomach="2.9", health="-0.00000001") Pro Engineered Food From ETs (Other Galaxy)
                 .tab-pane(id="drink")
                     button.btn.btn-default.consumable(money="0", hydration="1", stomach="9.5", health="-0.5") Drain Water
                     button.btn.btn-default.consumable(money="-1", hydration="5", stomach="4.5", health="-0.08") Suspicious Water
                     button.btn.btn-default.consumable(money="-1.25", hydration="1.5", energy="2", stomach="3.5", health="-0.15") Energy Drink
                     button.btn.btn-default.consumable(money="-1.5", hydration="10", stomach="3.5", health="-0.01") Water
                     button.btn.btn-default.consumable(money="-5", hydration="11", stomach="3", health="-0.001") Quality Water
                     button.btn.btn-default.consumable(money="-20", hydration="12", stomach="2.5", health="-0.0001") Premium Water
                     button.btn.btn-default.consumable(money="-125", hydration="13", stomach="2.25", health="-0.00001") Pro Engineered Water
                     button.btn.btn-default.consumable(money="-800", hydration="14", stomach="2.05", health="-0.000001") Pro Engineered Water From Space
                     button.btn.btn-default.consumable(money="-10000", hydration="15", stomach="2", health="-0.0000001") Pro Engineered Water From ETs
                     button.btn.btn-default.consumable(money="-100000", hydration="16", stomach="1.95", health="-0.00000001") Pro Engineered Water From ETs (Other Galaxy)
                  .tab-pane(id="investment")
                      button.btn.btn-default.consumable(money="-1", moneyincome="0.01", title="Get 0.01$ per second") Invest
                      button.btn.btn-default.consumable(money="-10", moneyincome="0.1", title="Get 0.1$ per second") Invest
                      button.btn.btn-default.consumable(money="-100", moneyincome="1", title="Get 1$ per second") Invest
                      button.btn.btn-default.consumable(money="-1000", moneyincome="10", title="Get 10$ per second") Invest
                      button.btn.btn-default.consumable(money="-10000", moneyincome="100", title="Get 100$ per second") Invest
                      button.btn.btn-default.consumable(money="-100000", moneyincome="1000", title="Get 1k$ per second") Invest
                      button.btn.btn-default.consumable(money="-1000000", moneyincome="10000", title="Get 10k$ per second") Invest
                      button.btn.btn-default.consumable(money="-10000000", moneyincome="100000", title="Get 100k$ per second") Invest
                      button.btn.btn-default.consumable(money="-100000000", moneyincome="1000000", title="Get 1M$ per second") Invest
                      button.btn.btn-default.consumable(money="-1000000000", moneyincome="10000000", title="Get 10M$ per second") Invest
                      button.btn.btn-default.consumable(money="-10000000000", moneyincome="100000000", title="Get 100M$ per second") Invest
                      button.btn.btn-default.consumable(money="-100000000000", moneyincome="1000000000", title="Get 1b$ per second") Invest
                      button.btn.btn-default.consumable(money="-1000000000000", moneyincome="10000000000", title="Get 10b$ per second") Invest
                      button.btn.btn-default.consumable(money="-10000000000000", moneyincome="100000000000", title="Get 100b$ per second") Invest
                 .tab-pane(id="chems")
                      button.btn.btn-default.consumable(money="-30", stamina="-10", health="-0.5", healthcap="-0.01", healthcaploss="0.001", staminacap="-0.02", staminaregen="-0.0002", temp="-1", title="Lowers body temperature") Spray Old Freon On Self
                      button.btn.btn-default.consumable(money="-30", stamina="-50", health="-0.5", healthcap="-0.05", healthcaploss="0.002", staminacap="-0.2", staminaregen="-0.002", temp="-3", title="Lowers body temperature") Drink Old Freon On Self
                      button.btn.btn-default.consumable(money="-40", stomach="25", stomachcap="-1", stamina="50", health="-0.5", healthcap="-0.01", staminacap="-0.02", staminaregen="-0.0002", temp="0.01", title="Improves stamina with little effort") Stamina Restorer Milk
                      button.btn.btn-default.consumable(money="-45", stomach="25", stomachcap="-1.5", health="-2.5", healthcap="-1", staminacap="0.2", staminaregen="0.0002", temp="0.02", title="Improves stamina with little effort") Stamina Power Powder
                      button.btn.btn-default.consumable(money="-50", stomach="-50", stamina="-100", stomachcap="-0.5", health="-2.5", healthcap="-1", staminacap="-0.05", temp="0.1", title="Destroys the stomach content safely (for the most part)") Light Acid
                      button.btn.btn-default.consumable(money="-75", stomach="-100", stamina="-100", stomachcap="-2", health="-5", healthcap="-1.75", staminacap="-0.1", temp="0.2", title="Destroys the stomach content safely (for the most part)") Medium Acid
                      button.btn.btn-default.consumable(money="-100", health="-3", healthcap="-3", digestionmulti="0.05", stomachcapin="-0.07", staminacap="-0.02", title="Improves stomach digestion speed") Digestion Pills From Trash
                      button.btn.btn-default.consumable(money="-650", health="250", healthcaploss="2", title="Restores health") Discarded Bloodbag
                      button.btn.btn-default.consumable(money="-700", health="-5.5", stamina="-200", healthcap="-3", healthcaploss="0.005", staminacap="0.4", staminaregen="0.001", temp="0.01", title="Improves stamina with little effort") Streoids
                  .tab-pane(id="black")
                      button.btn.btn-default.consumable(money="-450", stomach="10", stomachcap="-1", staminaregen="20", health="-0.5", healthcaploss="0.1", staminacap="-0.03", title="Autoinjects stamina restorer milk") Stamina Restorer Milk Auto Injector
                      button.btn.btn-default.consumable(money="-500", healthcaploss="0.1", stomachin="7", hydrationin="2", staminacapin="-0.1", moneyincome="-5", title="Inject water straight into the stomach (-5$/s)") Dirty Water Auto Injector
                      button.btn.btn-default.consumable(money="-500", healthcaploss="0.1", stomachin="7", staminacapin="-0.1", energyin="2", moneyincome="-10", title="Inject food straight into the stomach (-10$/s)") Dirty Food Auto Injector
                      button.btn.btn-default.consumable(money="-550", healthcaploss="0.2", stomachin="-10", stomachcapin="-0.01", moneyincome="-12", tempoffsetp="0.01", title="Inject acid straight into the stomach (-12$/s)") Medium Acid Auto Injector
                  .tab-pane(id="medical")
                      button.btn.btn-default.consumable(money="-2000", health="440", title="Restores health") Fresh Bloodbag
                      button.btn.btn-default.consumable(money="-5000", health="-5", healthcap="-0.1", stomach="-500", title="Removes stomach content") Stomach Content Removal
                      button.btn.btn-default.consumable(money="-10000", healthcap="-0.5", hydrationin="1", energyin="1", staminacapin="-0.05", moneyincome="-20", title="Inject needed stuff straight into the blood (-20$/s)") Food/Water Auto Injector
                      button.btn.btn-default.consumable(money="-50000", healthcaploss="-1", title="Reduces maximum health decrease over time") Organ Transplant
                      button.btn.btn-default.consumable(money="-70000", healthcap="-5", stomachcap="50", digestionmulti="-0.01", title="Makes stomach larger") Stomach Enlargement Op
                  .tab-pane(id="bribe")
                      button.btn.btn-default.consumable(money="-70000", taxes="0.0001") Bribe for 0.01% less taxes
                      button.btn.btn-default.consumable(money="-700000", taxes="0.001") Bribe for 0.1% less taxes
                      button.btn.btn-default.consumable(money="-7000000", taxes="0.01") Bribe for 1% less taxes
                      button.btn.btn-default.consumable(money="-70000000", taxes="0.1") Bribe for 10% less taxes
                  .tab-pane(id="et")
                      button.btn.btn-default.consumable(money="-75000", health="-5", healthcap="-0.01", stomach="-750", staminacap="-0.01" title="Removes stomach content with advanced tech") Stomach Content Removal
                      button.btn.btn-default.consumable(money="-85000", healthcap="-0.2", stomachcap="95", digestionmulti="-0.007", title="Makes stomach larger") Stomach Enlargement Op Advanced
                      button.btn.btn-default.consumable(money="-90000", health="-1", healthcap="-0.5", healthcaploss="0.0005", staminacap="0.4", staminaregen="0.001", title="Improves stamina with little effort") Muscle Upgrade
                      button.btn.btn-default.consumable(money="-95000", health="-3", healthcap="-3", digestionmulti="0.05", stomachcapin="-0.01", title="Improves stomach digestion speed") Pro Digestion Pills
                      button.btn.btn-default.consumable(money="-99000", health="-7", healthcap="-9", digestionmulti="-0.05", stomachcapin="-0.01", title="Decreases stomach digestion speed (only use if needed)") Pro Digestion Slow Pills
                      button.btn.btn-default.consumable(money="-100000", hydration="1500", healthcap="-0.01", title="Injects 1500 water into the body") Hydro-Injection
                      button.btn.btn-default.consumable(money="-100000", energy="1000", healthcap="-0.01", title="Injects 1000 energy into the body") Energy-Injection
                      button.btn.btn-default.consumable(money="-500000", hydrationin="2", healthcap="-0.4", staminacapin="-0.02", moneyincome="-500" title="Auto injects water into the body (-500$/s)") Hydro-Injection Auto Injector
                      button.btn.btn-default.consumable(money="-500000", energyin="2", healthcap="-0.4", staminacapin="-0.02", moneyincome="-500" title="Auto injects energy/food into the body (-500$/s)") Energy-Injection Auto Injector
                  .tab-pane(id="research")
                      button.btn.btn-default.consumable.buyable(buyname="res2", money="500", temp="-0.01", healthcaploss="0.0001", stamina="-1", staminacap="-0.1") Lie on the ET experiment table
                      button.btn.btn-default.consumable.buyable(buyname="res3", money="-500000", temp="-3", stamina="-1", healthcap="-0.001", staminacap="-0.1", energycap="1", hydrationcap="1") Eat ETs head
                      p
                      button.btn.btn-default.consumable(money="-1000000", unlock="res1") Kidnap Humans and Conduct Experiments
                      button.btn.btn-default.consumable.buyable(money="-1500000", buyname="res1", unlock="res2") Ask ETs about Experiment Results
                      button.btn.btn-default.consumable.buyable(money="-5000000", health="-100", healthcaploss="0.01", buyname="res2", unlock="res3", title="You will loose 100 hp!") Conduct Experiments On ETs
                      button.btn.btn-default.consumable.buyable(money="-50000000", health="-250", healthcaploss="0.01", buyname="res3", unlock="res4", title="You will loose 250 hp!") Enslave One ET race
                      button.btn.btn-default.consumable.buyable(money="-500000000", health="-280", healthcaploss="0.01", buyname="res4", unlock="res5", title="You will loose 280 hp!") Take Over Some ET Tech
                      button.btn.btn-default.consumable.buyable(money="-5000000000", health="-300", healthcaploss="0.01", buyname="res5", unlock="res6", title="You will loose 300 hp!") Enslave ETs in the Galaxy
        script(src="jquery-2.1.4.min.js")
        script(src="bootstrap.min.js")
        script(src="script.js")
